language: ruby
sudo: false
cache:
  - bundler
rvm:
  - 2.3.0
script:
  - bundle exec rake rubocop
  - bundle exec rake spec
notifications:
  email: false
gemfile:
  - gemfiles/activesupport_5.gemfile
  - gemfiles/activesupport_4.gemfile
  - gemfiles/activesupport_3.gemfile
